<ion-header>
  <ion-toolbar>
    <ion-title>news</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>
    {{title}}
  </h3>
  <p>
    {{description}}
  </p>
</ion-content>
